.totals {
  text-align: right;
}

.totals .totalOverdue {
  margin-right: 2rem;
  font-weight: bold;
}

.totals .hasOverdue {
  color: var(--flx-color-alert-error-link);
}

.totalItem {
  margin-right: 2rem;
}

.totalDueItem {
  margin-right: 2rem;
}

.status {
  width: 11rem;
}

.customer {
  width: var(--flx-width-field-l);
}

.customer :global(input[name="customerId"]::placeholder) {
  color: var(--flx-palette-thunder);
}

@media (min-width: 768px) {
  .totals {
    display: flex;
    justify-content: flex-end;
  }
}
