:local .dateInput {
  display: flex;
}

:local .dateInput input,
:local .dateInput select {
  width: 40%;
}

:local .inputPostfix {
  white-space: pre;
  margin-top: 0.5rem;
  padding-left: 0.8rem;
}

:local .status {
  font-weight: bold;
  color: green;
}
