.dateInput {
  display: flex;
}

.dateInput input,
.dateInput select {
  width: 29%;
}

.inputPostfix {
  white-space: pre;
  margin-top: 0.5rem;
  padding-left: 0.8rem;
}

.onlinePaymentAccount {
  padding-bottom: 10px;
}

.onlinePaymentMethodsImage {
  height: 3.1rem;
  padding-bottom: 0.5rem;
  width: auto;
}
