.centered {
  display: flex;
  align-items: center;
}

.centered :global(.smallLoadingSpinner) {
  margin: 0 0 0 2rem;
}

.name {
  color: var(--flx-palette-thunder);
  font-weight: var(--flx-font-weight-bold);
  display: block;
}

.email {
  color: var(--flx-palette-storm-72);
  display: block;
}
