.notesAndTotals {
  display: flex;
  flex-direction: column-reverse;
}

.notesAndTotals :global(.line-item__total) {
  border: none;
  padding: var(--flx-spacing-medium) var(--flx-spacing-tiny);
}

.disabledTable :global(.line-item__icon-right button) {
  display: none;
}

.disabledTable :global(.line-item--body .line-item__data) {
  background-color: #eef0f2;
}

.disabledTable :global(.line-item__row-wrapper:last-child) {
  display: none;
}

@media (min-width: 768px) {
  .notesAndTotals {
    flex-direction: initial;
    justify-content: space-between;
    padding: var(--flx-spacing-small) var(--flx-spacing-large) 0;
  }

  .notes {
    width: var(--flx-width-field-xl);
  }

  .notes div {
    margin-bottom: var(--flx-spacing-tiny);
  }

  .notes div:last-child {
    margin-bottom: auto;
  }

  .notes :global(textarea) {
    min-width: var(--flx-width-field-xl);
    max-width: 70rem;
  }

  .notesPreset {
    position: absolute;
    width: var(--flx-width-field-xl);
  }

  .notesMessage { margin-top: 6.75rem; }
}
