.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
}

.spinner {
  margin-top: var(--flx-spacing-x-small);
  margin-bottom: var(--flx-spacing-x-small);
}
