  /* @FEELIX */
.outOfBalance,
.outOfBalance :global(.form-group__label-group label) {
  color: #ce2554;
}

.closingBankStatementBalance {
  display: flex;
  align-items: center;
  margin-bottom: var(--flx-spacing-x-small);
}

.labels {
  padding-right: var(--flx-spacing-small);
  text-align: right;
  flex-basis: 66.66%;
}

.balances {
  text-align: right;
  flex-basis: 33.33%;
}

/* @FEELIX */
.closingBankStatementBalance :global(.form-group) {
  flex-basis: 33.33%;
  margin-bottom: 0;
}

.closingBankStatementBalance :global(.form-group__label-group) {
  display: none;
}

.closingBankStatementBalance :global(.form-group__input-group) {
  width: 100%;
}

@media (min-width: 768px) {
  /*
    @FEELIX:
    Long labels cause undesirable wrapping with the Feelix DetailHeader on desktop.
    To fix this, we just increase the width.
  */
  .options :global .flx-detail-header__secondary > * {
    width: 40rem;
  }

  /*
    @FEELIX:
    Account and statement date goes to the same line on desktop
    It would requires more space in the primary section
  */
  .options :global(.flx-detail-header__primary) {
    width: 45rem;
    max-width: 45rem;  
  }
}

.accountInfo {
  display: flex;
  flex-direction: column;
}

/*
  @FEELIX:
  Account and statement in separate lines on mobile
*/
.accountInf :global .form-group {
  flex: 1 1 auto;
}

.undoButton {
  margin-left: var(--flx-spacing-tiny);
}

@media (min-width: 768px) {
  .accountInfo {
    flex-direction: row;
  }

  /*
    @FEELIX:
    Account and statement date goes to the same line on desktop
    We applied a fix width for statement date, and account info take the rest of space
  */
  .accountInfo :global .form-group:first-child {
    flex: 1 1 auto;
    margin-right: var(--flx-spacing-tiny);
  }
  
  .accountInfo :global .form-group:last-child {
    flex: 0 0 13rem;
  }
}