/*
  This resolves the issue for when the collapsible is open and is visible when the 
  user continues scrolling. (This z-index was chosen because it's greater than the z-index
  of the collapsible which is 101)
*/
.sticky :global(.sticky-header--on) {
  z-index: 102;
}

.options {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.table {
  margin-top: -1px;
  padding-top: 0;
}
