@media screen and (min-width: 768px) {
  /**
    @FEELIX:
    Align the content inside the collapsible rows to that of the outer rows.
    Used to override the class specificity Feelix is using.
  **/
  .collapsibleTableRowContent.collapsibleTableRowContent.collapsibleTableRowContent {
    padding-left: 0.4rem;
    padding-right: 4.8rem;
  }
}
