.footerContainer {
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  text-align: right;
}

.netPayLabel {
  padding-right: 3rem;
}

.successColour {
  color: var(--flx-color-alert-success-link);
}

.electronicPaymentFooter {
  padding-top: 10px;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.electronicPaymentFooter :global(.svg-icon-dollar) {
  fill: var(--flx-color-alert-success-link);
}
