.subHeadingGroup > h3 {
  margin: var(--flx-spacing-medium) 0 0;
}

.field {
  margin-top: var(--flx-spacing-small);
}

.subHeadingContainer {
  padding: var(--flx-spacing-x-small) 0;
  display: grid;
  grid-template:
    ". row1 row1" auto
    ". .    col3" auto
    / 30% auto 20%;
  grid-row-gap: 10px;
}

.customerName {
  grid-area: row1;
}

.balanceDue {
  grid-area: col3;
  align-self: end;
  justify-self: end;
  text-align: right;
}

.balanceDue p {
  font-weight: var(--flx-font-weight-bold);
}

.alertModal h4 {
  margin-bottom: 5px;
}

.alertModal ul {
  list-style-position: outside;
  margin-left: var(--flx-spacing-small);
}

@media (max-width: 767px) {
  .subHeadingGroup {
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
  }

  .subHeadingGroup > div {
    padding: 7px 0;
  }

  .balanceDue > * {
    display: block;
  }
}
