.options :global .flx-col {
  grid-gap: var(--flx-spacing-tiny) var(--flx-spacing-small);
}

.address {
  white-space: pre-line;
}

.checkbox {
  margin-top: 2rem;
}

/*
  Long labels cause undesirable wrapping with the Feelix DetailHeader on desktop.
  To thix this, we just increase the width.
*/
@media (min-width: 768px) {
  .options :global .flx-detail-header__secondary > * {
    width: 50rem;
  }
}
