.totals {
  text-align: right;
}

.totalAmount {
  margin-right: 2rem;
}

.customerCombobox :global(.form-group) {
  width: var(--flx-width-field-l);
}

.customerCombobox :global(input[name="customerId"]::placeholder) {
  color: var(--flx-palette-thunder);
}

.totalCreditAmount {
  font-weight: 500;
}
