.radioGroup,
.checkbox {
  display: flex;
  align-items: center;
  height: 3rem;
}

.radioGroup :global(.radio) {
  margin-bottom: 0;
}

.radioGroup > div:nth-child(2) {
  margin-left: 3.2rem;
}

.tooltip > :global(.svg-icon) {
  margin-top: -0.5rem;
  margin-left: 0.5rem;
}
