.dropzone {
  margin: 0.8rem 0;
}

/* @FEELIX */
.dropzone :global(.dropzone-border) {
  padding: var(--flx-spacing-small);
}

/* @FEELIX */
.dropzone :global(.dropzone-container) {
  display: flex;
  justify-content: flex-start;
}

/* @FEELIX */
.dropzone :global(.file-browser) {
  margin-left: var(--flx-spacing-small);
}

/* @FEELIX */
.dropzone :global(.file-browser-label-wrapper) {
  margin-bottom: 0;
  display: unset;
}

/* @FEELIX */
.dropzone :global(.file-browser__label-text) {
  margin-right: 0;
  vertical-align: middle;
}
