.notesAndTotals :global(.line-item__total) {
  border: none;
}

.notesAndTotals {
  display: flex;
  flex-direction: column-reverse;
}

.disabledTable :global(.line-item--body .line-item__data) {
  background-color: #eef0f2;
}

.disabledTable :global(.line-item__icon-right button) {
  display: none;
}

.disabledTable :global(.line-item__row-wrapper:last-child) {
  display: none;
}

/**
  @FEELIX:
  To have the abn popover next to the contact combobox, we need to extend
  the width of the primary header option.
**/
.detail :global(.flx-detail-header__primary) {
  max-width: 42.2rem;
}

@media (min-width: 768px) {
  .notesAndTotals {
    flex-direction: initial;
    justify-content: space-between;
    padding-top: var(--flx-spacing-small);
  }

  .notes {
    width: var(--flx-width-field-xl);
  }

  .notes div {
    margin-bottom: var(--flx-spacing-tiny);
  }

  .notes div:last-child {
    margin-bottom: auto;
  }

  .notes :global(textarea) {
    min-width: var(--flx-width-field-xl);
    max-width: 70rem;
  }
}
