.headerWrapper{
  position: relative;
}

.capitalFirst{
  text-transform:capitalize;
}

@media only screen and (min-width: 784px){
  .right{
    position: absolute;
    right: 0;
    bottom: 56px;
  }
}

@media only screen and (max-width: 784px){
  .right{
    position: relative;
  }
}


