.popover { display: inline-block; }

.popoverBody { max-width: 40rem; }

.popoverImage { margin-right: var(--flx-spacing-x-small); }

.popoverImage[alt*="App Store"],
.popoverImage[alt*="Google Play"] { cursor: pointer; }

.popoverButton { margin-top: var(--flx-spacing-small); }

.fileBrowser :global(.file-browser-label-wrapper) {
  display: block;
  margin-bottom: 0;
}

.fileBrowser :global(.btn) { display: flex; }

.submitting :global(.filter-bar__item button) {
  box-shadow: none;
  cursor: progress;
  filter: alpha(opacity=65);
  opacity: 0.65;
}

.submitting :global(.table-data__header button) {
  color: var(--flx-palette-storm-50);
  cursor: progress;
}

@media screen and (max-width: 767px) {
  .popover { margin-bottom: var(--flx-spacing-small); }
  .popover:last-of-type { margin-bottom: 0 }
}
