.footerContainer {
  float: right;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  text-align: right;
}

.netPayLabel {
  padding-right: 3rem;
}

.successColour {
  color: var(--flx-color-alert-success-link);
}

.modalButtons {
  background: #f3f4f5;
  border-top: 1px solid #dcdfe1;
  padding: 16px;
}

.electronicPaymentFooter {
  padding-top: 10px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.electronicPaymentFooter :global(.svg-icon-dollar) {
  fill: var(--flx-color-alert-success-link);
}
