/* @FEELIX */
.dropZoneHorizontal :global(.table-data__row) {
  /* Remove table row line. and reduce table row padding so dropzone takes more space. */
  box-shadow: none;
  padding: var(--flx-spacing-tiny);
}

/* @FEELIX */
.dropZoneHorizontal :global(.dropzone-border) {
  /* Reduce size taken by dropzone */
  padding: var(--flx-spacing-small);
}

/* @FEELIX */
.dropZoneHorizontal :global(.dropzone-container) {
  /* Inline layout for dropzone. */
  display: flex;
  justify-content: center;
}

/* @FEELIX */
.dropZoneHorizontal :global(.file-browser) {
  /* Spaces text away from icon */
  margin-left: var(--flx-spacing-small);
}

/* @FEELIX */
.dropZoneHorizontal :global(.file-browser-label-wrapper) {
  /*  reduces size taken by label */
  display: block;
  margin-bottom: var(--flx-spacing-clear);
}

/* @FEELIX */
.dropZoneHorizontal :global(.file-browser__label-text) {
  /* Ensure text is centered. */
  margin-right: var(--flx-spacing-clear);
  vertical-align: middle;
}
