.headerOnly {
  font-weight: var(--flx-font-weight-bold);
  font-size: var(--flx-font-size-heading-medium);

  text-align: center;
}
.disclaimer {
  margin-top: var(--flx-spacing-x-large);
  font-size: var(--flx-font-size-text-small);
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--flx-spacing-tiny);
}
