.form :global(.form-group__input-group) {
  width: var(--flx-width-field-xl);
}

.formSubGroup :global(.form-group__legend label) {
  font-weight: var(--flx-font-weight-bold);
}

.applyToAllAccounts {
  margin-bottom: var(--flx-padding-input-y);
}
