.innerCard > * {
  background-color: #f3f4f5;
}

.innerCard li {
  line-height: 3rem;
}

.imageAndText {
  padding: 1rem 0 1rem 1rem;
}

.imageAndText .heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: -0.8rem;
}

.imageAndText > div {
  width: 80%;
  padding-left: 1rem;
}

@media screen and (max-width: 860px) {
  .imageAndText > div {
    width: 100%;
  }
}

.imageAndText > * {
  display: inline-block;
}

.imageAndText > svg {
  fill: purple;
}

.modalImage {
  text-align: center;
  padding-bottom: 20px;
}

.modalButtons {
  background: #f3f4f5;
  border-top: 1px solid #dcdfe1;
  padding: 16px;
}

.linkButton {
  padding-top: 1.5rem;
}
