.connectForm {
  margin: 0 auto;
  max-width: 768px;
}

.alert { margin-top: var(--flx-spacing-tiny); }

.printForm {
  display: block;
  margin: var(--flx-spacing-tiny) 0 var(--flx-spacing-medium);
}

.referenceNumber {
  align-items: flex-start;
  display: flex;
  margin-top: var(--flx-spacing-tiny);
}

.referenceNumber :global(.form-group) {
  margin-right: var(--flx-spacing-tiny);
  max-width: 100%;
}

.referenceNumber :global(.form-group__label-group) { display: none; }

.referenceNumber :global(.form-group),
.referenceNumber :global(.form-group__input-group) { width: var(--flx-width-field-s); }