.eiSubmissionsContainer {
  padding-left: 0;
  padding-right: 0;
}

.eiSubmissionsTemplate :global(.sticky-header) {
  padding-top: 0;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flexItems {
  align-self: flex-end;
}

.text {
  margin: 0 0 0.5rem 0;
}

.payRunStatusContainer :global(.alert) {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.payRunStatusContainer :global(.alert) a {
  color: #8241aa;
  box-shadow: unset;
}

.payRunDetailTitle h2 {
  display: flex;
  align-items: center;
}

.baseInformation :global(.form-group) {
  margin-bottom: 0;
}
