@media screen and (min-width: 1200px) {
  .contact {
    width: var(--flx-width-field-xl);
    margin-bottom: var(--flx-spacing-small);
  }

  .description {
    width: var(--flx-width-field-xl);
    margin-bottom: var(--flx-spacing-small);
  }
}
