.systemAccount {
  font-weight: var(--flx-font-weight-bold);
  font-size: var(--flx-font-size-heading-medium);
}

.headerAccount {
  font-weight: var(--flx-font-weight-bold);
}

.indent[data-indent-level="1"] {
  padding-left: 2rem;
}

.indent[data-indent-level="2"] {
  padding-left: 4rem;
}

.indent[data-indent-level="3"] {
  padding-left: 6rem;
}

.indent[data-indent-level="4"] {
  padding-left: 8rem;
}

.accSelectionColumn {
  padding-top: var(--flx-spacing-tiny);
}

.actionBarText {
  margin-top: 5px;
  margin-left: 10px;
}

.actionBar {
  border-bottom: var(--flx-border-thin);
  padding-bottom: var(--flx-spacing-tiny);
}

.moveButton {
  margin-left: 8px;
}

.disabledMoveButton {
  opacity: 0.5;
  cursor: not-allowed;
  margin-left: 8px;
}

.bulkUpdateButtonRow {
  padding-top: 1rem;
}

.tooltip {
  padding-left: 10px;
  margin-top: -4px;
}

.remainingBalance {
  margin-left: 2px !important;
}

.remainingBalance > div {
  color: var(--flx-color-alert-error-link);
}

.bulkUpdateHeaderRow {
  line-height: 35px;
}

.taxCodeRowItem {
  overflow: visible;
}

.accountInputRowItem {
  padding-top: 12px;
}

.disabledBtn {
  opacity: 0.5;
  cursor: not-allowed;
}

.moveToSelect > div {
  margin: 0;
  padding-right: 8px;
  min-width: 16.8rem;;
}

@media (max-width: 767px) {
  .textAlign {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .indent[data-indent-level] {
    padding-left: unset;
  }

  .hidden {
    display: none;
  }

  .systemAccount {
    font-weight: unset;
    font-size: unset;
  }

  .headerAccount {
    font-weight: unset;
  }

  .actionBar {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .tooltip {
    padding-left: 0px;
  }
}

@media (pointer: coarse) and (min-width: 768px) {
  :global(.table-data__cell--nowrap) {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
