.details {
  display: flex;
  align-items: baseline;
}

.input {
  flex-basis: 7.5rem;
}

.inputValue {
  padding-left: 1.5rem;
}

:global(.Popover-body) {
  max-width: unset;
}

/*
  Make sure long payment option name displayed without being cut
*/
.popover :global(.flx-popover) {
  display: inline-block;
}

.popoverContainer {
  display: flex;
  align-content: center;
}

.warningIcon {
  display: flex;
  margin-left: 1.2rem;
}

.warningTooltip {
  display: flex; 
}