.button {
  display: flex;
  justify-content: center;
  margin-top: var(--flx-spacing-x-small);
  margin-bottom: var(--flx-spacing-x-small);
}

.spinner {
  margin-top: var(--flx-spacing-x-small);
  margin-bottom: var(--flx-spacing-x-small);
}
