.documentViewer {
  height: calc(100% - 1rem); /* prevent double scrollbars */
  width: 100%;
  border: var(--flx-border-thin);
  border-radius: var(--flx-border-radius-card);
}

.onSafari {
  position: absolute;
  top: 0;
  left: 0;
}
