.inTraySpinner :global(.loadingSpinner) { margin: var(--flx-spacing-large) auto; }

.inTrayUpload { overflow: hidden; }

.inTrayImages,
.inTrayEmailAddress :global(.sr-only) { display: none; }

.inTrayEmailAddress :global(.form-group) {
  flex: 1;
  margin-bottom: 0;
  margin-right: var(--flx-spacing-tiny);
}

.inTrayEmailAddress {
  align-items: flex-start;
  display: flex;
  margin-bottom: var(--flx-spacing-tiny);
}

.inTrayEmailAddress button { flex: 0 0 auto; }

.inTrayApps {
  cursor: pointer;
  margin: 0 var(--flx-spacing-small) var(--flx-spacing-small) 0;
}

.inTrayApps:last-of-type { margin-right: 0; }

@media screen and (min-width: 864px) {
  .inTrayImages {
    display: block;
    margin: 0 auto var(--flx-spacing-large);
  }

  .inTrayGenerationEmailAlert { margin-bottom: 0; }

  .inTrayGenerationEmailAlert :global(.alert-btn--close) {
    position: relative;
    right: var(--flx-spacing-small);
  }
}

@media screen and (max-width: 863px) {
  .uploadModal :global(.flx-col--3) { grid-template-columns: none; }

  .inTrayApps { margin-bottom: var(--flx-spacing-x-large); }

  .inTrayGenerationEmail { margin-bottom: var(--flx-spacing-large); }
}
