@media (min-width: 768px) {
  .inputContainer {
    display: flex;
  }

  .inputContainer div {
    width: 100%;
  }

  .inputContainer div:not(:last-child) {
    margin-right: var(--flx-spacing-tiny);
  }
}
