.attachments {
  padding: var(--flx-padding-card-body);
  border-width: var(--flx-border-width-small);
  border-radius: var(--flx-border-radius-button);
  opacity: 100;
  border-style: dashed;
  border-color: var(--flx-palette-storm-17);
}

.inProgress {
  cursor: progress;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.description > p {
  margin-top: 0.8rem;
  margin-bottom: 0;
  font-size: 1.2rem;
}

/* @FEELIX */
@media only screen and (max-width: 500px) {
  .dropzone :global(.file-browser-label-wrapper) {
    display: unset;
  }
}

/* @FEELIX */
@media only screen and (min-width: 500px) {
  .columns :global(.flx-col) {
    grid-gap: 0.8rem;
  }

  .columns :global(.flx-chip) {
    margin-bottom: 0;
  }
}
