.checklist li { list-style-image: url('assets/check_icon.svg'); }

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .mt-sm-x-large { margin-top: var(--flx-spacing-x-large); }
}
