.total {
  text-align: end;
  font-weight: var(--flx-font-weight-bold);
}

.filterOptions :global(input[name="customerId"]::placeholder) {
  color: var(--flx-palette-thunder);
}

@media screen and (min-width: 768px) and (max-width: 975px) {
  .columnPurchaseOrder {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  .columnSent {
    display: none;
  }
}
