.errorIcon {
 color: var(--flx-palette-berry);
}

.errorIcon svg{
  fill: var(--flx-palette-berry);
}

.warningIcon svg path{  
  fill: var(--flx-palette-crown);      
}
 
 .warningIcon svg path:first-child{  
   fill: var(--flx-palette-pineapple);      
 }

.dollarIcon {
 color: var(--flx-palette-golf);
}

.dollarIcon svg{
  fill: var(--flx-palette-golf);
}

.refLink {
  padding-right: var(--flx-spacing-tiny);
}

.icons > * {
  vertical-align: middle;
}

.icons svg:first-child {
  margin-right: var(--flx-spacing-tiny);
}
