.readonly {
  margin-left: 1rem;
}

.readonly :global(.boxed) {
  color: var(--flx-color-reverse-text);
  background-color: var(--flx-palette-storm-83);
}

/*
  @FEELIX:
  Chaining our classname twice for a higher specificity to override Feelix
*/
.userEmail.userEmail > :global(a) {
  font-weight: var(--flx-font-weight-bold);
}
.avatar {
  display:flex;
  align-items: center;
}
.caret {
  padding-left: var(--flx-spacing-x-tiny);
}
/*
  @FEELIX:
  Override Feelix hover color with its nav link color
  Chaining our classname twice for a higher specificity to override Feelix
*/
.unlink.unlink :global(a:hover) {
  color: #687484;
  background-color: unset;
  cursor: default;
}

/*
  @FEELIX:
  Override Feelix menu item icon alignment
*/
.businessMenu li[role="menuitem"] a[role="button"] {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.businessMenu li[role="menuitem"] a[role="button"] svg {
  margin-right: var(--flx-spacing-x-tiny);
}
