.readonly {
  margin-left: 1rem;
}

.readonly :global(.boxed) {
  color: var(--flx-color-reverse-text);
  background-color: var(--flx-palette-storm-83);
}

.avatar {
  display: flex;
  align-items: center;
}

.caret {
  padding-left: var(--flx-spacing-x-tiny);
}

/*
  @FEELIX:
  Override Feelix hover color with its nav link color
  Chaining our classname twice for a higher specificity to override Feelix
*/
.unlink.unlink :global(a:hover) {
  background-color: unset;
  cursor: default;
}

.businessMenu ul {
  padding-bottom: var(--flx-spacing-tiny);
}

.businessMenu :global(.flx-navbar__menu-item .dropdown-menu) {
  margin-bottom: 0;
}

.businessMenu li[role="menuitem"] a[role="button"] {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.businessMenu li[role="menuitem"] a[role="button"] svg {
  margin-right: var(--flx-spacing-x-tiny);
}

.businessMenu .userDetails a {
  background: var(--flx-palette-storm-06);
  font-size: var(--flx-font-size-text-small);
  margin: 0 var(--flx-spacing-tiny);
  padding: var(--flx-spacing-x-tiny) var(--flx-spacing-tiny);
}

.businessMenu .userDetails a:hover {
  background: var(--flx-palette-storm-06);
}

.businessMenu .userEmail a {
  border-top-left-radius: var(--flx-border-radius-button);
  border-top-right-radius: var(--flx-border-radius-button);
  margin-top: var(--flx-spacing-tiny);
}

.businessMenu .serialNumber a {
  border-bottom-left-radius: var(--flx-border-radius-button);
  border-bottom-right-radius: var(--flx-border-radius-button);
}

.businessMenu .mobileHide {
  display: inline-flex
}

@media (max-width: 767px) {
  .businessMenu .mobileHide {
    display: none;
  }

  .avatar {
    margin-left: 1rem;
    margin-right: -1rem;
  }
}

@media (max-width: 768px) {
  .businessMenu :global(.flx-navbar__menu-link) {
    border-bottom: 0;
  }
}
