.help {
  display: flex;
  align-items: flex-start;
}

.help__button {
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: transparent;
}

.help__text {
  display: none;
}

/*
  max-width: 992px is defined in Feelix
  In screen of which width is less than 992px, menu will turn into dropdown view
*/
@media (max-width: 992px) {
  .help__button {
    border-bottom: none;
    width: 100%;
    text-align: left;
  }

  .help__text {
    display: initial;
  }

  .help__icon {
    display: none;
  }
}
