
@media (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*
  @FEELIX:
  Remove underline on hover and active menu item
*/
.menu :global(.flx-navbar__menu-link) {
  border: none;
  background-color: unset;
  padding: 0;
}

.menu :global(.flx-navbar__menu-link):hover .icon,
.menu :global(.flx-navbar__menu-link):focus .icon  {
  border-radius: 50%;
  background-color: var(--flx-background-color-application);
}

.menu :global(.flx-navbar__menu-link):hover .icon img { filter: brightness(60%); }

.icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .menuItem { padding-left: unset; }
}

.notification {
  bottom: var(--flx-spacing-tiny);
  left: var(--flx-spacing-large);
  pointer-events: none;
  position: absolute;
  z-index: var(--flx-zindex-tooltip);
}

@media (max-width: 768px) {
  .notification {
    left: 40px;
    top: var(--flx-spacing-medium);
  }
}
