/* https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */
.skipNavigation {
  clip-path: inset(100%);
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  height: 0.1rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.1rem;
}

/* https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */
.skipNavigation:focus {
  position: absolute;
  z-index: 200;
  height: 100%;
  background: white;
  clip-path: initial;
  clip: auto;
  width: auto;
  overflow: auto;
}

.skipNavigationContainer {
  position: relative;
  height: 100%;
}

/*
  Feelix Override:
  Adjusting the z-index of the navigation href as it overlays onto top of the module,
  due to having a greater z-index. The z-index of the modal is currently 1500.
*/
.navigation :global(.flx-navbar__menu-items > .open > .flx-navbar__menu-link) {
  z-index: 1400;
}
