/* https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */
.skipNavigation {
  clip-path: inset(100%);
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  height: 0.1rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.1rem;
}

/* https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */
.skipNavigation:focus {
  position: absolute;
  z-index: 200;
  height: 100%;
  background: white;
  clip-path: initial;
  clip: auto;
  width: auto;
  overflow: auto;
}

.skipNavigationContainer {
  position: relative;
  height: 100%;
}

/*
  @FEELIX:
  Adjusting the z-index of the navigation href as it overlays onto top of the module,
  due to having a greater z-index. The z-index of the modal is currently 1050.

  I chose 1010, because there's a comment in Feelix explaining that the navbar menu link
  has it's z-index of 2001, because of the dropdown. From what I can see, the z-index of
  the dropdown-menu is 1000, so that's why I've set the below z-index as it is.
*/
.navigation :global(.flx-navbar__menu-items > .open > .flx-navbar__menu-link) {
  z-index: 1010;
}

@media (min-width: 992px) {
  /*
    @FEELIX:
    Adjusting the link line-height abd icon height to add space for the business avatar
    and menu icons which are 24px
  */
  .navigation :global(.flx-navbar__menu-link) {
    line-height: 2.7rem;
  }

  .navigation :global(.flx-navbar__menu-link .svg-icon) {
    height: 2.4rem;
  }
}
