.subscriptionRibbon {
  color: var(--flx-palette-white);
  margin: 0;
  text-align: center;
  padding: var(--flx-spacing-x-small);
  background: var(--flx-palette-storm-100);
}

.subscriptionRibbon a,
.subscriptionRibbon a:hover {
  border: none;
  color: var(--flx-palette-white);
  cursor: pointer;
  font-weight: bold;
}

.subscriptionRibbon a:not([href^='tel:']) span {
  border-bottom: 2px solid var(--flx-palette-white);
}

@media screen and (max-width: 768px) {
  .subscriptionRibbon a {
    display: block;
    margin-bottom: var(--flx-spacing-small);
  }

  .subscriptionRibbon a:last-of-type {
    margin-bottom: 0;
  }
}
