:local .radioGroup,
:local .checkbox {
  display: flex;
  align-items: center;
  height: 3rem;
}

:local .radioGroup :global(.radio) {
  margin-bottom: 0;
}

:local .radioGroup > div {
  margin-right: 3.2rem;
}
