.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.container > * {
  flex: 1 0 0
}

.addressWithWindow {
  padding-left: 65px;
  padding-right: var(--tmp-spacing-small);
}

.addressWithWindowItems {
  border-radius: 4px;
  background-color: var(--tmp-color-grey);
  padding: var(--tmp-spacing-tiny) var(--tmp-spacing-small);
}

.addressWithoutWindow h5 {
  margin-bottom: var(--tmp-spacing-xx-tiny);
}

.item--italic {
  font-style: italic;
}
