.wrapper {
  composes: variables from './variables.module.css';
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--tmp-font-size);
  background-color: var(--flx-background-color-card);
  padding: var(--flx-padding-card-body);
  height: 100%;
}

.wrapper, .wrapper * {
  font-family: Arial, Helvetica, sans-serif;
}
