.main {
  display: flex;
  flex-direction: row;
}

.navAndRootView {
  flex: 1 1 0;
  max-width: 100%;
}

@media (min-width: 1200px) and (max-width: 1429px) {
  .navAndRootView {
    transform: translate(0px);
    transition-duration: 0.5s;
  }

  :global(.drawer-open) .navAndRootView {
    transform: translate(var(--drawer-width));
    flex: none;
  }
}
