:local .radioGroup,
:local .checkbox {
  display: flex;
  align-items: center;
  height: 3rem;
}

:local .checkbox {
  margin-top: 2rem;
}

:local .radioGroup :global(.radio) {
  margin-bottom: 0;
}

:local .radioGroup > div:nth-child(2) {
  margin-left: 3.2rem;
}

:local .tooltip > :global(.svg-icon) {
  margin-top: -0.5rem;
  margin-left: 0.5rem;
}
