/* @FEELIX */
.account > :global(p) {
  margin-bottom: var(--flx-spacing-clear);
}

.account :global(.form-group__input-group) {
  padding-bottom: var(--flx-spacing-x-small);
}

.spacingBottomSmall {
  margin-bottom: var(--flx-spacing-small);
}

.activeStatus {
  color: var(--flx-palette-golf);
  font-weight: var(--flx-font-weight-bold);
}

.inactiveStatus {
  color: var(--flx-palette-berry);
  font-weight: var(--flx-font-weight-bold);
}

.onlinePaymentMethodsImage {
  display: block;
  margin-bottom: var(--flx-spacing-small);
}
