.supplierCombobox :global(.form-group) {
  width: var(--flx-width-field-l);
}

.supplierCombobox :global(input[name="supplierId"]::placeholder) {
  color: var(--flx-palette-thunder);
}

.totals {
  text-align: right;
}

.totalAmount {
  margin-right: 2rem;
}

.totalDebitAmount {
  font-weight: 500;
}
