.formWidth :global(.form-group) {
  max-width: 75.4rem;
}

.formWidth :global(.field-message-popup-form-group-input-group) {
  max-width: var(--flx-width-field-l);
}

.formWidth :global(.form-group__input-group) {
  max-width: var(--flx-width-field-l);
}
