@media (min-width: 768px) {
  .price {
    max-width: var(--flx-width-field-s);
  }

  .referenceId {
    max-width: var(--flx-width-field-s);
  }

  .unitOfMeasure {
    max-width: var(--flx-width-field-xs);
  }

  .taxCode :global(.combobox) {
    max-width: var(--flx-width-field-s);
  }
}
