.tasks { list-style: none; }

/* @FEELIX */
.tasks :global(.label) {
  margin-left: var(--flx-spacing-tiny);
  float: right;
}

.tasks li {
  border-bottom: 1px solid var(--flx-palette-storm-17);
}

.tasks a {
  align-items: flex-start;
  display: flex;
  padding: var(--flx-spacing-small);
}

.tasks a:hover {
  background: var(--flx-palette-storm-06);
  text-decoration: none;
}

.tasks .container { width: 100%; display: flex}

.tasks p {
  font-size: small;
  margin-bottom: 0;
}

.tasks img { margin-right: var(--flx-spacing-small);}

.tasks h3 { margin-top: 0; }

.subTasks {
  counter-reset: item;
  list-style: none;
}

.subTasks li {
  border: none;
  counter-increment: item;
}

.subTasks a {
  color: var(--flx-palette-storm-83);
  padding: var(--flx-spacing-x-small) var(--flx-spacing-small);
}

.subTasks a:before,
.subTasks a span { flex: 1; }

.subTasks a:before {
  background: var(--flx-palette-storm-17);
  border-radius: var(--flx-size-border-radius-large);
  color: var(--flx-palette-storm-72);
  content: counter(item);
  height: var(--flx-spacing-large);
  margin-right: var(--flx-spacing-x-small);
  margin-left: var(--flx-spacing-xx-large);
  max-width: var(--flx-spacing-large);
  text-align: center;
}

.active { background: var(--flx-palette-dusk-05); }

.active a { color: var(--flx-palette-dusk-100); }

.active a:before {
  background: var(--flx-palette-dusk-100);
  color: var(--flx-palette-white);
  padding-top: 1px;
}

.completed a {
  color: var(--flx-palette-storm-83);
  text-decoration: line-through;
}

.completed a:before {
  background: url('assets/tick.svg') no-repeat 4px 4px / 16px var(--flx-palette-golf);
  content: '';
}

.close {
  height: 20px;
  border: none;
  background-color: unset;
  float: right;
  padding: 0;
  align-self: flex-start;
}

.isComplete {
  align-self: flex-start;
  background-color: rgba(0, 170, 101, 0.2);
  color: #007747;
  border-radius: 1.2rem;
  padding: 0.4rem 1rem;
}
