:root {
  --thumbnail-size: 5.5rem;
  --thumbnail-img-size: 5.4rem;
}

.thumbnail {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  max-width: var(--thumbnail-size);
  width: var(--thumbnail-size);
  min-width: var(--thumbnail-size);
  max-height: var(--thumbnail-size);
  height: var(--thumbnail-size);
  min-height: var(--thumbnail-size);
  border-radius: var(--flx-border-radius-button);
  border: var(--flx-border-button-secondary);
  background-color: var(--flx-palette-storm-11);
  overflow: hidden;
}

.thumbnail img {
  max-width: var(--thumbnail-img-size);
  max-height: var(--thumbnail-img-size);
}

.thumbnailEmpty {
  border: var(--flx-palette-storm-06);
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.loading {
  display: flex;
  justify-content: flex-start;
  color: var(--flx-palette-storm-72);
}

.loading :global(.smallLoadingSpinner) {
  margin: 0 1rem 0 0;
}
