.totalReceived {
  text-align: right;
  padding-top: 1rem;
  font-weight: var(--flx-font-weight-bold);
  font-size: var(--flx-font-size-paragraph-large);
}

.totalReceived span:first-child {
  padding-right: var(--flx-spacing-small);
}
