.allocated {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: var(--flx-spacing-x-tiny);
}

.focusedAllocating {
  display: flex;
  width: 100%;
}

.allocating {
  width: 100%;
  padding: 0.3rem var(--flx-spacing-x-small) 0.3rem 0.2rem;
}

.allocating :global(.form-group) {
  margin-bottom: var(--flx-spacing-clear);
}

.allocating :global(.form-group__label-group) {
  display: none;
}

.reportable {
  display: flex;
  padding-top: var(--flx-spacing-tiny);
  padding-bottom: var(--flx-spacing-tiny);
  padding-right: var(--flx-spacing-x-tiny);
}

.allocationInfo {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--flx-spacing-x-tiny);
}

.reportableHidden {
  grid-template-columns: auto;
  padding-left: var(--flx-spacing-x-small);
}

.hovering :global(input) {
  background-color: rgba(255,255,255,0.5);
  border: 0.1rem solid rgba(197, 201, 206, 0.5);
}

.hovering :global(a) {
  border: 0.1rem solid rgba(197, 201, 206, 0.6)
}

.hovering :global(a > svg) {
  opacity: 0.65
}

.allocatedWand {
  padding-left: var(--flx-spacing-x-small);
  padding-top: var(--flx-spacing-tiny);
  padding-bottom: var(--flx-spacing-tiny);
}

@media (min-width: 1024px) {
  .allocating :global(.form-group) {
    max-width: initial;
  }
}
