@media only screen and (min-width: 500px) {
  /* @FEELIX */
  .totalsHeader :global(.flx-btn-row__secondary-group) {
    display: flex;
    flex-wrap: unset;
  }

  .accountCombobox {
    flex-basis: 66.66%;
    margin-right: var(--flx-spacing-x-small);
  }

  .reconcileLink {
    flex-basis: 33.33%;
    margin-top: 0.5rem;
  }
}

/*
  Feelix Parity:
  Using 900px as this is when the <TotalsHeader /> component breaks.
*/
@media only screen and (min-width: 900px) {
  .accountCombobox {
    flex-basis: unset;
    margin-bottom: 0;
    width: var(--flx-width-field-xl);
  }

  .reconcileLink {
    flex-basis: unset;
    margin-top: 2.1rem;
  }
}

.reconcileLink {
  display: flex;
}

.pageHead {
  margin-bottom: 0;
}
