@value iconSize: 1.6rem;

.popover {
  height: iconSize;
}

.icon {
  height: iconSize;
  width: iconSize;
}

.typeInfoPopover {
  max-width: 280px;
}
.typeInfoPopover > p:last-child {
  margin-bottom: 0;
}
