
.popover :global(.Popover-body) {
  width: 32rem;
}

.openEntry .spinnerContainer {
  min-height: 22rem;
  position: relative;
  background: var(--flx-palette-white);
}

/*
  @FEELIX: the below five stylings are to achieve making the card footer grey
  among adding a border outline
*/
.openEntry {
  border: 1px solid var(--flx-palette-storm-100);
  border-bottom-left-radius: var(--flx-border-radius-card);
  border-bottom-right-radius: var(--flx-border-radius-card);
}

.openEntryCard {
  padding: 0;
}

.openEntryCard :global(.combobox-menu) {
  width: 100%;
}

.openEntryCardBody {
  padding: var(--flx-padding-card-body);
}

.openEntryCardFooter {
  padding: 0;
  background-color: var(--flx-palette-storm-06);
  border-top: 1px solid var(--flx-palette-storm-28);
  border-bottom-left-radius: var(--flx-border-radius-card);
  border-bottom-right-radius: var(--flx-border-radius-card);
}

.openEntryCardFooter :global(.flx-btn-row) {
  padding: var(--flx-padding-card-body);
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.paymentFooter {
  align-items: center;
  display: flex;
  padding-right: 2rem;
}

.openEntry .amountInput {
  width: 12rem;
}

.unallocated {
  font-weight: bold;
}

.allocateButton {
  width: 100%;
}

.taxComboBoxWidth {
  width: var(--flx-width-field-s);
}

.checkbox {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-top: 2.7rem;
}

.openEntry :global(.flx-tabs) {
  flex-direction: row-reverse;
}

.entryLoading :global(.filter-bar__item button) {
  cursor: progress;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bankTransactionView :global(.flx-template__body) > :global(.flx-card) {
  background: transparent;
  padding: 0;
  border: 0;
  box-shadow: none;
}

.filterOptions {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .paymentAllocationFilterOptions {
    display: grid;
    grid-template-columns: var(--flx-width-field-xl) auto;
  }

  .splitAllocationFilterOptions {
    display: flex;
  }

  .splitAllocationFilterOptions :global(.form-group) {
    padding: 0 var(--flx-spacing-tiny);
    width: var(--flx-width-field-l);
  }

  .checkbox {
    padding-left: 12px;
    max-width: var(--flx-width-field-xs);
  }

  .openEntryCard :global(.combobox-menu) {
    width: auto;
  }
}
