.bankingTableSpinner {
  position: relative;
  min-height: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.matchTransactionTable {
  border-radius: var(--flx-border-radius-card);
  border: var(--flx-border-table-row-outline);
  overflow-y: auto;
}

/* @FEELIX */
.paymentAllocationTable :global(.table-data__body) {
  max-height: 28rem;
  overflow-y: scroll;
}

/* @FEELIX */
.matchTransactionTable :global(.table-data__body) {
  max-height: 24rem;
  min-width: 102rem;
}

/* @FEELIX */
.matchTransactionTable :global(.table-data__header) {
  position: sticky;
  top: 0px;
  z-index: 9;
  background: var(--flx-palette-white);
  min-width: 102rem;
}

/* @FEELIX */
.matchTransactionTable :global(.table-data__header .table-data__cell:first-child) {
  padding-left: var(--flx-spacing-small);
  padding-right: 0;
}

/* @FEELIX */
.matchTransactionTable :global(.table-data__header .table-data__cell:first-child > .radio) {
  display: none;
}

@media only screen and (max-width: 767px) {
  /* @FEELIX - magically missing some styling that should be coming through when in responsive view */
  .matchTransactionTable :global(.table-data__row) {
    padding-left: 4.2rem;
    padding-right: 4.2rem;
  }
}
