.matchInfo {
  display: grid;
  padding: var(--flx-spacing-tiny) var(--flx-spacing-clear) var(--flx-spacing-tiny) var(--flx-spacing-x-small);
}

.matchInfo :global(.btn-link) {
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
}

/*
  We've copied these stylings from Feelixs `Button` component. We can delete these stylings
  once we can revert back to the `Button` component.
*/
.buttonLink {
  background: none;
  border: none;
  padding: 0;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--flx-palette-dusk-100);
}

.buttonLink:hover {
  text-decoration: underline;
  text-overflow: initial;
}