.inProgress {
  cursor: progress;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.spinnerContainer {
  padding: var(--flx-spacing-large);
}

.file {
  margin-bottom: 0;
}

.container {
  @value gridSpacing: 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: gridSpacing;
  padding-top: var(--flx-spacing-small);
}

/*
  To avoid horizontal overflow, the grid gaps and columns
  need to sum to 100%
*/
@media screen and (min-width: 728px) {
  .container{
    @value numberOfColumns: 2;
    @value twoColumnWidth: calc((100% - gridSpacing * (numberOfColumns - 1)) / numberOfColumns);
    grid-template-columns: twoColumnWidth twoColumnWidth;
  }
}
@media screen and (min-width: 968px) {
  .container{
    @value numberOfColumns: 3;
    @value threeColumnWidth: calc((100% - gridSpacing * (numberOfColumns - 1)) / numberOfColumns);
    grid-template-columns: threeColumnWidth threeColumnWidth threeColumnWidth;
  }
}
