/* @FEELIX */
.dropzoneHeader :global(.form-group) {
  margin-bottom: 0;
}

.inProgress {
  cursor: progress;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.spinnerContainer {
  padding: var(--flx-spacing-large);
}

.description > p {
  font-size: var(--flx-font-size-text-small);
  margin-bottom: var(--flx-spacing-tiny);
}

/* @FEELIX */
.dropzone :global(.dropzone-border) {
  padding: var(--flx-spacing-small);
}

/* @FEELIX */
.dropzone :global(.file-browser-label-wrapper) {
  margin-bottom: var(--flx-spacing-x-small);
}

/* @FEELIX */
.dropzone :global(.file-browser__label-text) {
  margin-right: var(--flx-spacing-x-tiny);
  vertical-align: middle;
}

/* @FEELIX */
@media only screen and (max-width: 500px) {
  .dropzone :global(.file-browser-label-wrapper) {
    display: unset;
  }
}

/* @FEELIX */
@media only screen and (min-width: 500px) {
  .columns :global(.flx-col) {
    grid-gap: 0.8rem;
  }

  .columns :global(.flx-chip) {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 850px) {
  .secondary {
    display: flex;
    justify-content: space-between;
  }

  .dropzone {
    width: 100%;
  }

  .dropzoneHeader {
    display: flex;
    justify-content: space-between;
  }
}
