.lineItemTable {
  overflow-x: auto;
  /*
    Extra space below so comboboxes inside
    LineItemTable have room to show
  */
  min-height: 20rem;
}

.lineItemTable :global(.line-item__icon-left) {
  display: none;
}

.lineItemTable :global(.combobox-menu) {
  /*
    Reduce `max-height` to make combobox
    fit without clipping
  */
  max-height: 10rem;
}
