@value imageDisplayRatio: 75%; /* stylelint-disable-line */
@value imageViewerHeaderHeight: 50px; /* stylelint-disable-line */

.clickableImage {
  border: none;
}

.clickableImage img {
  max-width: 100%;
}

.imageViewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--flx-background-color-modal-backdrop);
  z-index: 200; /* To be larger than .collapsible__header z-index which is 101 */
}

.imageViewer__header {
  height: imageViewerHeaderHeight;
  width: 100%;
  background-color: var(--flx-palette-thunder);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0 4rem;
}

.imageViewer__content {
  height: calc(100vh - imageViewerHeaderHeight);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.imageViewer__close {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.image--fixed-width {
  width: imageDisplayRatio;
}

.image--fixed-height {
  height: imageDisplayRatio;
}
