@value previewPadding: 16px; /* stylelint-disable-line */
@value containerPadding: 16px; /* stylelint-disable-line */

.container {
  flex: 1 1 0;
  position: relative;
  overflow: hidden;
}

.previewContainer {
  width: 100%;
  background-color: var(--flx-background-color-card);
  box-shadow: var(--flx-shadow-card);
  padding: containerPadding;
  border-radius: var(--flx-border-radius-card);
  margin-bottom: var(--flx-spacing-small);
}

.preview {
  width: 100%;
  transform-origin: top left;
  border-radius: var(--flx-border-radius-card);
  background-color: var(--flx-background-color-application);
  padding: previewPadding;
}
