:local .empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

:local .spinner {
  min-height: 30vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

:local .totalPaid {
  text-align: right;
  font-weight: bold;
  padding-top: 1rem;
}
