/* showDetail class add to MasterDetailLineItemTemplate when in the split view */

/**
  @FEELIX:
    To make action buttons full width in the split view
**/
.showDetail :global(.flx-btn-row) {
  display: block;
}
.showDetail :global(.flx-btn-row__primary-group),
.showDetail :global(.flx-btn-row__secondary-group) {
  flex: auto;
  flex-direction: column;
}
.showDetail :global(.flx-btn-row__primary-group > *),
.showDetail :global(.flx-btn-row__secondary-group > *) {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  margin-left: 0;
}
.showDetail :global(.flx-btn-row__primary-group .btn-group .btn:first-child) {
  width: 100%;
}

/**
  @FEELIX:
    To make sure there is gap between action buttons and master panel
    As MasterDetailTemplate has removed the margin bottom for the card
**/
div.card:global.flx-card {
  margin-bottom: 0.8rem;
}

/**
  @FEELIX:
    To show aside view on the left hand side
**/
.showDetail :global(.flx-masterdetail) {
  flex-direction: row-reverse;
}

.showDetail :global(.flx-masterdetail__master + .flx-masterdetail__detail) {
  margin-left: 0;
  margin-right: var(--flx-spacing-tiny);
}

/**
  @FEELIX:
    To insert same space after line item table body as mobile view
**/
.showDetail :global(.line-item--body) {
  margin-bottom: 10.2rem;
}

.showDetail :global(.line-item-table .combobox-menu) {
  max-height: 9.6rem;
}
.showDetail :global(.line-item-table__inner) {
  overflow-y: hidden;
}

/**
  @FEELIX:
  Prevent horizontal scrolling
**/
.showDetail :global(.line-item-table) {
  overflow-x: hidden;
}

.noPointerEvents embed {
  pointer-events: none;
}

/*
  @FEELIX 5.12:
  LineItemTemplate table is aligned with negative margins
  Make MasterDetailLineItemTemplate consistent with it
*/
.options {
  padding: 0.4rem 1.4rem 0;
}

.container :global(.line-item-table) {
  margin-left: -1.2rem;
  margin-right: -1.2rem;
  margin-bottom: -1.2rem;
}

.separator {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  width: 100%;
  align-items: center;
}

.separator :global(.flx-separator) {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .container :global(.line-item-table) {
      margin-left: -1.6rem;
      margin-right: -1.6rem;
      margin-bottom: -1.6rem;
  }
}
