.header {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--flx-spacing-small);
}

.headerTitle {
  font-weight: var(--flx-font-weight-bold);
  font-size: var(--flx-font-size-heading-medium);
}

.headerOptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headerRadioGroup {
  margin: 0;
}

.headerLabel {
  margin-bottom: var(--flx-spacing-x-tiny);
}

@media only screen and (min-width: 920px) {
  .headerOptions {
    flex-direction: row;
    align-items: center;
  }
  .headerRadioGroup {
    margin: 0 0 0 var(--flx-padding-input-x);
  }
  .headerLabel {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
