.container {
  display: flex;
  flex-direction: column;
}

.text {
  text-align: left;
}

.button {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row-reverse;
  }

  .text {
    text-align: start;
  }

  .button {
    width: auto;
  }
}

.illustration {
  margin: var(--flx-spacing-small);
}
