.onlinePaymentMethodsImage {
  height: 2.1rem;
  padding-bottom: 0.4rem;
  width: auto;
}

.onlinePaymentMethodsImageSetUp {
  height: 2.1rem;
  padding-top: 0.4rem;
  width: auto;
}

.onlinePaymentCheckboxGroup > * {
  display: inline-block;
}

.status {
  padding: 0.5rem;
}

.spinner {
  width: 1rem;
  padding: 0.2rem;
}
