.popover {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--flx-spacing-x-tiny);
}

.popover :global(.flx-popover) {
  display: inline-block;
}

.popoverBody {
  margin-bottom: 0;
}