.drawer {
  position: fixed;
  top: 0;
  z-index: var(--flx-zindex-popover);

  --drawer-width: 100%;

  /*
    potentially we can use calc(var(--drawer-width) * -1) to get --animate-drawer-offset
    but Edge can't animate things when we use calc
   */
  --animate-drawer-offset: -100%;
  --drawer-transition-length: 500ms;

  height: 100vh;
  width: var(--drawer-width);
  margin-left: var(--animate-drawer-offset);
  transition: margin-left var(--drawer-transition-length) ease, transform var(--drawer-transition-length) ease;
}

/*
  @FEELIX:
  To create square border as per design, instead of the rounded border that comes with the Aside component
*/
.drawer :global(.flx-aside__container) {
  border-radius: 0;
  margin-bottom: 0;
}

/*
  @FEELIX:
  To remove extra white space under accordion header in mobile view
*/
.drawer :global(.table-data__row .table-data__cell) {
  margin-bottom: 0;
}

.drawer--open {
  margin-left: 0;
  transform: translateZ(0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media (min-width: 768px) {
  .drawer {
    min-width: inherit;
    --drawer-width: 290px;
    --animate-drawer-offset: -290px;
  }
}

@media (min-width: 1200px) {
  .drawer {
    position: sticky;
    box-shadow: none;
  }
}

@media (min-width: 1600px) {
  .drawer {
    --drawer-width: 390px;
    --animate-drawer-offset: -390px;
  }
}

/*
  @FEELIX:
  To make aside fit it's content, even when the content is smaller than it would like.
*/
.drawer :global(.flx-aside)  {
  min-width: unset;
}
