.drawer {
  --drawer-width: 100%;
  --drawer-transition-length: 500ms;

  position: fixed;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: var(--drawer-width);
  height: 100vh;
  transition:
    margin-left var(--drawer-transition-length) ease,
    transform var(--drawer-transition-length) ease;
}

/*
  @Feelix-Override
  Make aside scrollable by default. So when accordion is open, the scrollable maitain the same.
  So won't squash the image.
*/
.drawer :global(.flx-aside__body) {
  overflow-y: scroll;
}

/*
  @Feelix-Override:
  To create square border as per design, instead of the rounded border that comes with the Aside component
*/
.drawer :global(.flx-aside__container) {
  border-radius: 0;
  margin-bottom: 0;
}

/*
  @Feelix-Override:
  To remove extra white space under accordion header in mobile view
*/
.drawer :global(.table-data__row .table-data__cell) {
  margin-bottom: 0;
}

.drawer--close {
  transform: translateX(-100%);
}

@media (min-width: 768px) {
  .drawer {
    --drawer-width: 390px;
  }

  .drawer--close {
    transform: translateX(calc(var(--drawer-width) * -1));
  }

  /*
    @Feelix-Override:
    To put white space back in non-mobile view
  */
  .drawer :global(.table-data__row .table-data__cell) {
    margin-bottom: 8px;
  }
}

@media (min-width: 1600px) {
  .drawer {
    box-shadow: none;
    position: relative;
  }

  .drawer--close {
    margin-left: calc(var(--drawer-width) * -1);

    /* make sure browser use GPU to repaint the view, for better animation performance */
    transform: translateZ(0);
  }
}
