.drawer {
  --drawer-width: 100%;

  /*
    potentially we can use calc(var(--drawer-width) * -1) to get --animate-drawer-offset
    but Edge can't animate things when we use calc
   */
  --animate-drawer-offset: -100%;
  --drawer-transition-length: 500ms;

  position: fixed;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 100vh;
  width: var(--drawer-width);
  margin-left: var(--animate-drawer-offset);
  transition: margin-left var(--drawer-transition-length) ease, transform var(--drawer-transition-length) ease;
}

/*
  @Feelix-Override
  Make aside scrollable by default. So when accordion is open, the scrollable maitain the same.
  So won't squash the image.
*/
.drawer :global(.flx-aside__body) {
  overflow-y: scroll;
}

/*
  @Feelix-Override:
  To create square border as per design, instead of the rounded border that comes with the Aside component
*/
.drawer :global(.flx-aside__container) {
  border-radius: 0;
  margin-bottom: 0;
}

/*
  @Feelix-Override:
  To remove extra white space under accordion header in mobile view
*/
.drawer :global(.table-data__row .table-data__cell) {
  margin-bottom: 0;
}

.drawer--open {
  margin-left: 0;
  transform: translateZ(0);
}

@media (min-width: 768px) {
  .drawer {
    --drawer-width: 390px;
    --animate-drawer-offset: -390px;
  }

  /*
    @Feelix-Override:
    To put white space back in non-mobile view
  */
  .drawer :global(.table-data__row .table-data__cell) {
    margin-bottom: 8px;
  }
}

@media (min-width: 1600px) {
  .drawer {
    box-shadow: none;
    position: relative;
  }
}
