.systemAccount {
  font-weight: var(--flx-font-weight-bold);
  font-size: var(--flx-font-size-heading-medium);
}

.headerAccount {
  font-weight: var(--flx-font-weight-bold);
}

.indent[data-indent-level='1'] { padding-left: 2rem; }
.indent[data-indent-level='2'] { padding-left: 4rem; }
.indent[data-indent-level='3'] { padding-left: 6rem; }
.indent[data-indent-level='4'] { padding-left: 8rem; }

@media (max-width: 768px) {
  .indent[data-indent-level] {
    padding-left: unset;
  }

  /*
   * This is a temporary solution:
   * Once Feelix allows className prop on Table.RowItem
   * we can apply the class directly to the Table.RowItem
   * to hide the entire cell on smaller screen.
   * Expect the feature coming in after version 5.7.0
   */
  .empty::before {
    content: '-';
  }

  .systemAccount {
    font-weight: unset;
    font-size: unset;
  }

  .headerAccount {
    font-weight: unset;
  }
}

@media (min-width: 769px) {
  :global(.table-data__cell--nowrap) {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
