.general-journal-view .table-data__container .table-data__row {
  border-right: 0px;
}

.general-journal-view .table-data__container .table-data__cell {
  word-break: normal;
  word-wrap: break-word;
}

.general-journal-view .table-data__cell:last-of-type {
  align-self: auto;
}

.general-journal-view__list {
  min-height: 60vh;
}

.general-journal-view__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}