.floatingLady {
    display: block;
    margin: 0 auto;
    margin-bottom: var(--flx-spacing-large);
    width: 250px;
}
.mainText {
    margin-bottom: 1em;
}

.openingBalanceWarning {
  font-weight: bold;
}
