.subHeadingGroup {
  display: flex;
  flex-wrap: wrap;
}

.subHeadingGroup > div {
  padding-bottom: var(--flx-spacing-tiny);
  padding-right: var(--flx-spacing-large);
}

.divider {
  margin-top: var(--flx-spacing-tiny);
}

.rightSubHeading {
  text-align: right;
}

.rightSubHeading > div {
  justify-content: flex-end;
}

.fieldGroup {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.fieldGroup > button {
  padding-left: var(--flx-spacing-medium);
  align-self: center;
}

.fieldGroup > div {
  flex-basis: 55%;
}

.modalFooter > div {
  flex-grow: 1;
}

.bankAccount {
  flex-grow: 1;
}

@media only screen and (min-width: 500px) {
  .fieldGroup {
    flex-wrap: unset;
  }

  .fieldGroup > div {
    flex-basis: unset;
  }

  .fieldGroup > div:not(:first-of-type):not(:last-of-type) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .fieldGroup > div:not(:first-of-type) {
    padding-left: 1rem;
  }

  .fieldGroup > div:not(:last-of-type) {
    padding-right: 1rem;
  }

  .fieldGroup > .bankAccount {
    flex-basis: 66.67%;
  }

  .fieldGroup > .paymentDate {
    flex-basis: 33.33%;
  }
}
