.documentView {
  display: flex;
  flex-direction: row;
}

.pdf {
  flex: auto;
  margin-left: 1rem;
}

.pdf h4 {
  margin: var(--flx-spacing-x-tiny) 0;
}

div.card:global.flx-card {
  margin-bottom: 0.8rem;
}

.buttonGroup > button + button {
  margin-left: var(--flx-spacing-small);
}
