.icon {
  position: relative;
  width: var(--flx-spacing-x-large);
  height: var(--flx-spacing-medium);
  margin-right: var(--flx-spacing-x-tiny);
  margin-top: -5px;
}

.bar {
  top: 0;
  left: 2px;
  width: 28px;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(90deg, var(--flx-palette-dusk-100) 0%,var(--flx-palette-dusk-100) 33.46%, var(--flx-color-avatar-candy-text) 85.67%, var(--flx-palette-berry) 100.07%);
  position: absolute;
  animation-name: icon-scan;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 0.75;
}

@keyframes icon-scan {
  0% { top: 0; }
  50% { top: 30px; }
  100% { top: 0; }
}
