body {
  margin: 0;
  padding: 0;
}

/** On mobile sizes the drawer covers the whole screen, so there should be no scrollbar for the
 * body. Nobody likes double scrollbars. */
@media (max-width: 767px) {
  body.drawer-open {
    overflow: hidden;
  }
}

div.Popover {
  z-index: 1051;
}

/** The leanengage modal backdrop z-index was 1040, which was lower than that of the Drawer, so raising it to
 * 1051 will make it higher than the Drawer.
 *
 * Raising the leanengage modal backdrop also means the leanengage modal itself needs its z-index to be raised higher
 * to 1052 (it was set at 1050 originally)
 */
div.leanengage__modal-backdrop.leanengage__fade.leanengage__in {
  z-index: 1051;
}

div.leanengage__modal.leanengage__fade.leanengage__in {
  z-index: 1052;
}

textarea {
  min-height: 3rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px 0 0 -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
  border: 0;
  white-space: nowrap;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/*
 * @FEELIX - line item table will overflow on mobile devise
 */
@media (max-width: 992px) {
  .line-item-table {
    overflow-x: hidden;
  }
}

.line-item-table > *:not(.line-item-table__inner) {
  padding-left: var(--flx-spacing-x-large);
}
