.selected {
  background: var(--flx-background-color-table-row-selected);
}

.description {
  padding-right: var(--flx-spacing-tiny);
  text-overflow: ellipsis;
  overflow: hidden;
}

.descriptionContainer {
  display: flex;
  min-width: 11.8rem;
}

.row {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
