/*
  Display note input besides table totals
*/
.footer :global(.line-item__total) {
  border: none;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: initial;
    justify-content: space-between;
    padding-top: var(--flx-spacing-small);
  }

  .note {
    width: var(--flx-width-field-xl);
  }

  .note div {
    margin-bottom: var(--flx-spacing-tiny);
  }

  .note div:last-child {
    margin-bottom: auto;
  }

  .note :global(textarea) {
    min-width: var(--flx-width-field-xl);
    max-width: 70rem;
  }

  .notesPreset {
    position: absolute;
    width: var(--flx-width-field-xl);
  }

  .notesMessage { margin-top: 6.75rem; }
}
