.disabledTable :global(.line-item--body .line-item__data) {
  background-color: #eef0f2;
}

.disabledTable :global(.line-item__icon-right button) {
  display: none;
}

.disabledTable :global(.line-item__row-wrapper:last-child) {
  display: none;
}
