.activities {
  list-style: none;
}

.activities > li { cursor: pointer; }

.activities > li.completed::after {
  background: url('assets/icon-circle-tick-golf.svg') top center no-repeat;
  background-size: 40px 40px;
  border: 0;
  content: '';
}

.activities > li ul {
  list-style: none;
  margin-top: var(--flx-spacing-medium);
  padding-left: 0;
}

.activities > li ul li { margin-bottom: 10px; }

.activities > li ul li:last-of-type { margin-bottom: 0; }

.activities > li ul img { margin-right: var(--flx-spacing-medium); }

.activities > li ul a { color: inherit; }
