.popover {
  z-index: 5;
}

.openEntry.isLoading {
  min-height: 22rem;
  position: relative;
  background: var(--flx-palette-white);
}

.openEntryEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.spinner,
.bankingTableSpinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.bankingTableSpinner {
  position: relative;
  min-height: 15rem;
}

.paymentFooter {
  align-items: center;
  display: flex;
  padding-right: 2rem;
}

.openEntry .amountInput {
  width: 12rem;
}

.balances {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.unallocated {
  font-weight: bold;
}

.balanceItem {
  margin-right: 2rem;
}

.balanceTooltip {
  margin-right: 0.5rem;
}

.checkbox {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-top: 2rem;
}

.openEntry :global(.flx-tabs) {
  flex-direction: row-reverse;
}

.entryLoading :global(.filter-bar__item button) {
  cursor: progress;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bankTransactionView :global(.flx-template__body) > :global(.flx-card) {
  background: transparent;
  padding: 0;
  border: 0;
  box-shadow: none;
}
